
@import './app/shared/styles/fonts.scss';
@import './app/shared/styles/colors.scss';
@import './app/shared/styles/anim.scss';

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: $stnd-font;
}

h1, h2, h3, h4, h5 {
  font-family: $hero-font;
  color: $darkGrey;
}
